/*
    Reset all box sizing:
    https://css-tricks.com/box-sizing/
*/
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


body {
    background-color: #CBE8BA;
    font-family: sans-serif;
    line-height: 1.4;
}

h2 {
    font-family: Garamond, georgia, serif;
    font-size: 36px;
    color: red;
    margin-top: 0;
}


#header {
    /* No height needed - a <div> will expand to the size of its contents */
   	/*height: 200px;*/
	background-color: #4C7A34;
	background-position: left top;
	background-repeat: no-repeat;
    color:white;
    text-align:center;
    padding:3px;
	/*font-size:33px;*/
    font-size: 2rem;
	font-family:  'Brush Script MT', cursive;
    margin-bottom: 2rem;
}

#header > img {
    width: 100%;
}



body.Homepage {
	background: url(thurston.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}


/* use a button class instead of targeting the button element directly */
.button {
  	background-color: #ff0000 ;
    border: none;
    color: #ffff00;
    padding: 12px 18px;
    text-align: center;

    /*text-decoration: bold; */
    /* to set the font-weight, use this property instead: */
    font-weight: bold;

    /* make the text sans-serif */
    font-family: sans-serif;

    /* Take off the link underline */
    text-decoration: none;
    display: inline-block;

    /*font-size: 25px;*/
    /* Give the links a chance to fit on one line */
    font-size: 16px;


}


.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}


.left {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding-left: 12px;
    /* height doesn't really work with display: table-cell*/
    /*height: 80px;*/
	color: black;
	background-color: #CBE8BA;
}

.right {
    display:table-cell;
    vertical-align:middle;
    padding:0 10px;
}

.rightSP1 {
    display:table-cell;
    vertical-align:middle;
    padding:10px;
}

.rightSP2 {
    display:table-cell;
    vertical-align:middle;
    margin:0;
    padding: 10px;
	color: black;
	background-color: #CBE8BA;
}


.left,
.right,
.rightSP1,
.rightSP2 {
    width: 50%;
}

/* https://css-tricks.com/dont-overthink-it-grids/ */

.grid {
    overflow: hidden;
    margin-left: -20px;
}

    .grid-item {
        float: left;
        padding-left: 20px;
        margin-bottom: 16px;
    }

    .grid-two-column .grid-item {
        width: 50%;
    }

.card {
    border: 3px solid #73AD21;
    min-height: 250px;
}

    .card img {
        width: 100%;
    }

.intro {
    border: 3px solid #73AD21;
	color: #000;
	background-color: #fff;
	font-size: 20px;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
    margin-bottom: 2rem;
    padding: 16px;
}


.content {
    border: 3px solid #73AD21;
    background-color: #FFFFFF;
    font-size: 18px;
    padding: 16px;
}

.results {
    border: solid 1px #eee;
       border-collapse: collapse;
}

.results thead {
    font-weight: bold;
}

.results td {
    border: solid 1px #eee;
    padding: 8px;
}

